<!DOCTYPE html>
<html>
    <head>
        <title>User interface</title>
    </head>
    <body>
        <form method="POST">
           <label for="id">Provide user id for Get request</label>
           <input type="text"  id="id" name="id" ><br> 

           <label for="name ">name</label>
           <input type="text"  id="name" name="name" ><br>
           
           <label for="age">age</label>
           <input type="text"  id="age" name="age" ><br>
           
           <label for="country">country</label>
           <input type="text"  id="country" name="country" ><br> 

           <button type="submit" id="post" value="submit">POST</button>
           <button type="submit" id="get" value="submit" formmethod="GET">GET</button>
         </form>
    </body>
</html>